.like-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .like-button {
    border: none; 
    outline: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
 }
 .like-button:hover {
    color: #ff0000;
 }
 .like-button.liked {
    color: #ff0000;
    border-color: #ff69b4;
 }
 /* For mobile screens */
 @media (max-width: 768px) {
    .like-button-container {
       flex-direction: column;
    }
    .like-button {
       font-size: 16px;
       margin-bottom: 10px;
       padding: 8px 16px;
       border-width: 1px;
    }
 } 