#firstRow {
    height: 83vh;
    width: 100%;
    border: 1px solid #5FBDFF;
    overflow-y: scroll;
    scroll-behavior: initial;
}

#second-Row {
    height: 6vh;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#cards {
    margin: auto;
    width: 50%;
    padding: 10px;
    height: fit-content;
}
.input{
    border: #5FBDFF solid 1px;
    height: 50px;
    border-radius: 15px;
}